@use '../theme';

.recoveryMessageText {
  flex-direction: column;
  display: flex;
  flex: 1;
  font-size: 18px;

  & :first-child {
    margin-bottom: 20px;
  }

  & :nth-child(2) {
    color: #0044cc;
  }

  & :last-child {
    margin-top: 20px;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.input {
  margin-bottom: 10px;
}

.authButton {
  background-color: theme.$dark-blue;
  color: theme.$white;
  border-radius: 8px;
  padding: 11px 10px;
  margin-top: 10px;

  &:hover {
    color: theme.$white;
    background-color: theme.$blue;
  }

  &:active {
    color: theme.$white;
    background-color: theme.$dark-blue;
    box-shadow: 0 0 5px 3px rgba(116, 137, 168, 0.5) inset;
  }
}

.goHomeButton {
  margin-left: 10px;
  font-size: 17px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
