@use '../theme';

.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;
  font-size: 19px;
}

.input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid theme.$grey;
  font-size: 15px;
  padding: 0 10px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.inputError {
  border: 1px solid theme.$red;
  animation: shake 0.25s ease-in-out 0s 2;

  &:focus {
    outline: 1px solid theme.$red;
  }
}

.infoWrapper {
  height: 13px;
  padding-left: 7px;
}

.description {
  font-size: 13px;
  color: theme.$dark-grey;
  transition: 0.3s;
}

.error {
  font-size: 13px;
  color: theme.$red;
  transition: 0.3s;
}

.required {
  color: theme.$red;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  25% {
    margin-left: 0.3rem;
    margin-right: -0.3rem;
  }
  75% {
    margin-left: -0.3rem;
    margin-right: 0.3rem;
  }
  100% {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
