@use '../theme';
@use '../utils';

.container {
  background-color: theme.$dark-blue;
  height: utils.$navbar-height;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px 4px rgba(55, 65, 80, 0.5);
  position: fixed;
  top: 0;
}

.logo {
  cursor: pointer;
}

.avatar {
  height: 100%;
  width: 35px;
  border-radius: 50%;
  background-color: theme.$light-blue;
}

.dropdownTitle {
  margin: 0 10px;
}

.controllers {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
}
