@use './theme';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: theme.$grey;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
